@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 2%;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  background-color: #f2fa5a;
  display: flex;
  flex-wrap: wrap;
}
.topo {
  background-color: antiquewhite;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.historia {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}

.titulo-historia {
  text-align: left;
  font-size: 40px;
}

.paragrafo {
  text-align: left;
  font-size: larger;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
  }
}

.menu-item {
  padding: 7%;
  font-size: larger;
  text-transform: uppercase;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .menu-item {
    display: block;
  }
}

.bolos-unitarios {
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5%;
  background-color: antiquewhite;
  background-size: cover;
}

.infos {
  padding-left: 10%;
}

.foto-bolo {
  width: 200px;
}

.inicio-bolos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.titulo-bolos {
  text-align: center;
  text-size-adjust: 40px;
  text-decoration: underline;
}
.div-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.botao-bolo {
  font-size: xx-large;
  font-family: "EB Garamond", serif;
  size: 30px;
  border-style: dashed;
  border-color: black;
}

footer {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15%;
  align-items: stretch;
  justify-content: stretch;
  background-color: #ffc900;
}
